/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.header {
	background-color: #4B0082;
	padding: 15px 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.header__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.header__search {
	padding: 5px;
	border-radius: 5px;
}


.header__degree {
	display: flex;
	align-items: center;
	gap: 20px;
}

.radio-wrapper {
	color: #fff;
}

.content {
	padding: 30px 0;
}

.content__weather {
	display: flex;
    justify-content: space-evenly;
	align-items: flex-start;
    min-height: 630px;
}

.content__current {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.city {
	font-family: "Roboto", sans-serif;
	font-size: 32px;
	font-weight: 600;
}

.temp {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 500;
}

.icon-wrapper {
	background-color: #ccc;
	border-radius: 15px;
}

.currenticon {
	width: 100px;
}

.description {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.content__hourly {
	display: flex;
	flex-direction: column;
	gap: 10px;

	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.content__daily {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	gap: 20px;


}

.content__daily-block {
	font-family: "Roboto", sans-serif;


	border: 1px solid #ccc;
	padding: 10px;
	background-color: #ccc;
	border-radius: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;

	cursor: pointer;
	transition: .2s;
}

.content__daily-block:hover {
	opacity: 0.7;
}

.content__daily-wrapper {
	display: flex;
	align-items: center;
}

.active-block {
	border: 1px solid #111;
}

.hourly-wrapper {
	display: flex;
    align-items: center;
    background: #ccc;
    border-radius: 15px;
    padding: 10px;
	gap: 20px;
}